/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  color: var(--dark-gray);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark-teal);
}

button {
  font-family: var(--sans-serif);
}

.arial {
  font-family: arial, helvetica, sans-serif;
}

.burger {
  background: url('./assets/burger.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: var(--height-2-half);
}

.b--dark-teal {
  border-color: var(--dark-teal);
}
.bg-dark-teal {
    background-color: var(--dark-teal);
}

.bg-light-teal{
  background-color: var(--light-teal);
}

.pv3half {
  padding-top: var(--spacing-largeish);
  padding-bottom: var(--spacing-largeish);
}

.w2half {
  width: var(--width-2-half);
};

.ma0-auto{
  margin: 0 auto;
}
